.contactForm {
    width:100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #777;
  }
  
  h2 {
    text-align: center;
    color: #5c5b5b;
  }
  
  input, textarea {
    display: block;
    width: 90%;
    max-width: 750px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    display: block;
    padding: 13px 30px;
    /* margin: 10px auto; */
    margin: 30px auto 0 auto;
    border: 1px solid #777;
    background-color: #4b86b4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
  }
  
  button:hover {
    background-color: white;
    color: #4b86b4;
  }
  
  .status {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }
  